@{
    ViewData["Title"] = "EditSemesterInfo";
}

<div style="background-image: linear-gradient(to right,#F15156, #DBD3E5); width: 100%; border-radius: 20px; padding: 5px">
    <h1 style="color:#151515">Edit Semester Information</h1>
</div>

<form asp-action="EditSemesterInfo" method="post">
    <div>
        <table style="width: 100%;">
            <tr>
                <td>
                    <label style="font-size:40px">This semester's start date:</label>
                </td>
                <td>
                    <input type="date" name="txtStartDate" />
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-size:40px">Number of weeks this semester:</label>
                </td>
                <td>
                    <input type="number" name="txtNumOfWeeks" />
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div style="text-align:center">
        <button name="btnEnter" style="font-size:35px;">Enter</button>
        <br />
        <label style="font-size:25px; color: #D5424E;" id="lblError"> @ViewBag.ErrorMessage </label>
    </div>
</form>


